STRIPE_SECRET_KEY=sk_test_replace_with_your_stripe_test_secret_key
MELHOR_ENVIO_API_URL=https://sandbox.melhorenvio.com.br/api/v2
MELHOR_ENVIO_TOKEN=replace_with_your_melhor_envio_sandbox_token
MELHOR_ENVIO_ORIGIN_POSTAL_CODE=01001000
SUPABASE_ANON_KEY=replace_with_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=replace_with_supabase_service_role_key
SUPABASE_EMAIL_REDIRECT_URL=
